* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

/* Color */
:root {
    --primary-color: #fe6132;
}

:root {
    --navbar-height: 35px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var( --navbar-height))
}

/* size btn */
:root {
    --cart-size: 30px
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    /* width: 1200px; */
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.grid__col {
    padding-left: 8px;
    padding-right: 8px;
}

.grid__col-2 {
    
}

.grid__col-2-12 {
    width: 16.66667%;
}

.grid__col-3-12 {
    width: 25%;
}

.grid__col-4-12 {
    width: 33.33333%;
}

.grid__col-5-12 {
    width: 41.66667%;
}

.grid__col-6-12 {
    width: 50%;
}

.grid__col-8-12 {
    width: 66.66667%;
}

.grid__col-10-12 {
    width: 83.33333%
}

.mt-40 {
    margin-top: 40px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-20 {
    margin-top: 20px;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.btn {
    display: block;
    padding: 5px 15px;
    background-color: var(--primary-color);
}

