/* Container  */
.container {
    background-color: #ccc;
    background-color: #f5f5f5;
    padding-bottom: 40px;
}


/* Middle banner  */
.middle-banner {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.middle-banner__item img {
    width: 100%;
}

.middle-banner__next {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    left: 0; 
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 10px;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.circle-border {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #878787a8;
    text-align: center;
    line-height: 35px;
}

.middle-banner__slides {
    display: flex;
    width: 500%;
}

.middle-banner__slide {
    width: 20%;
    transition: 0.7s;
}

/* btn hotilne  */
.btn-hotline {
    position: fixed;
    bottom: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(237,29,36,0.95);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 70px;
    margin-left: 20px;
}

.btn-hotline i {
    font-size: 1.8rem;
    line-height: 40px;
    animation: hotlineAnnimation ease 1.2s;
    animation-iteration-count: infinite;
}

.btn-hotline::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    background: rgba(237,29,36,0.6);
    animation: zoomOut ease 1s; 
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.btn-hotline::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(237,29,36,0.6);
    border-radius: 50%;
    transform:scale(1.8);
    animation: zoomIn ease 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes hotlineAnnimation {
    0% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-60deg);
    }
    20% {
        transform: rotateZ(45deg);
    } 
    30% {
        transform: rotateZ(-30deg);
    }
    40% {
        transform: rotateZ(15deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(0.6);
        opacity: 1
    }
    100% {
        transform:scale(0.9);
        opacity: 0.3
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.6);
        opacity: 1;
    }
    100% {
        transform:scale(1.8);
        opacity: 0.1;
    }
}

/* Chat  */
.chat-wrap {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 0px;
    z-index: 4;
}

.chat-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    text-align: center;
    line-height: 40px;
    font-size: 1.8rem;
    color: #fe6132;
    cursor: pointer;
}

.chat-btn:hover {
    box-shadow: 0 2px 5px 3px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.chat-session {
    width: 320px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: none;
}

.chat-session__heading {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    box-shadow: 1px 1px 0px 0 rgb(0 0 0 / 2%), 0px 0px 20px 0px rgb(0 0 0 / 12%);
}

.chat-session__heading  p {
    font-size: 1.8rem;
    margin-top: 5px;
    font-weight: 300;
    color: #fe6132;
    margin-left: 5px;
}

.chat-session__heading i {
    font-size: 1.8rem;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    text-align: center;
    color: #333;
}

.chat-session__heading-close:hover {
    cursor: pointer;
}

.chat-session__content {
    border-bottom: 1px solid #ddd;
    height: 280px;
}

.chat-session__content--logout {
    text-align: center;
    padding-top: 50px;
    font-size: 1.4rem;
    color: #333; 
}

.chat-session__content--logout .btn-login {
    margin-top: 15px;
    padding: 12px 0;
    background-color: #fe6132;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border-radius: 4px;
}

.chat-session__content--logout .btn-login:hover {
    opacity: 0.8;
    cursor: pointer;
}

.chat-session__footer {
    padding: 10px;
}

.chat-session__footer input {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 1.3rem;
    outline: none;
}


.chat-session__footer-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #3b3b3b;
}

.chat-session__footer-btn i {
    padding: 4px;
}

.chat-session__footer-btn i:hover {
    cursor: pointer;    
    transform: scale(1.05);
}

.alert-add-to-cart {
    width: 400px;
    padding: 60px 0;
    background-color: #3333338c;
    position: fixed;
    top: calc(50% - 60px);
    right: calc(50% - 200px);
    text-align: center;
    border-radius: 5px;  
    animation: fadeOut ease 1s 1s forwards;
}

.alert-add-to-cart h4 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        display: block;
    } 100% {
        opacity: 0;
        display: none;
    }
}