.product-demo {
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
}

.product-demo .demo-name {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Card item  */
.item-card {
    text-decoration: none;
    color: #333;
    display: block;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    min-height: 255px;
}

.item-card:hover {
    box-shadow: 0 2px 5px 3px rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}


.item-card__img img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}



.item-card__content {
    width: 100%;
    padding: 10px 10px;
}

.item-card__content-name {
    overflow: hidden;
    /* word-wrap: break-word; */
    font-size: 1.4rem;
    line-height: 1.6rem;
    height: 3.2rem;
    /* Dấu chấm ... */
    display: -webkit-box;
    /* hướng */
    -webkit-box-orient: vertical;
    /* Chấm ở dòng mấy ? */
    -webkit-line-clamp: 2;

    margin-bottom: 10px;
    
}

.item-card__content-price {
    font-size: 1.4rem;
   
}

.item-card__content-price-old {
    color: #999;
    text-decoration: line-through;
}

.item-card__content-price-new {
    color: #fe6132;
}

.item-card__content-behavior {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin: 10px 0;
}

.item-card__content-behavior-heart {
    color: #ff0000;
}

.item-card__content-wrap {
    display: flex;
}

.sold-quantity {
    margin-left: 10px;
    color: #333;
}

.item-card__content-behavior-rating {
    color: #ffce3d;
}

.item-card__content-brand {
    display: flex;
    justify-content: space-between;
}

.item-card__content-brand-item {
    font-size: 1.4rem;
    font-weight: 300;
    color: #656565;
}